@import "compass/css3";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$fontColor: #313131;
$sectionHeading: #b7260a;
$borderColor: #ececec;
$default-text-shadow-color: rgba(0,0,0,.75);
$default-text-shadow-blur: 1px;
$default-text-shadow-v-offset: 1px;


body, div, a, input, span, p, h1, h2, h3, h4, textarea {
	font-family: 'Open Sans', sans-serif;
}

body {
	font-size: 62.5%;
	color: $fontColor;
	background: url('../img/background.jpg') repeat;
	border-radius: 10px;
	text-align: center;

	p,a,span {
		font-size: 1.2em;
	}

	h1 {
		font-size: 3.5em;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.8em;
	}

	#container {
		width: 730px;
		margin: 0 auto;
		text-align: left;

		header.pageTitle {
			text-align: center;
			margin: 5em auto;
			max-width: 70%;


			a {
				text-decoration: none;
				color: $sectionHeading;
				font-weight: normal;
				@include single-text-shadow;
			}
		}

		section {
			text-align: center;

			article.comment:nth-child(2n) .avatar {
				left: auto;
				right: -9%;
			}

			article.comment {
				text-align: left;
				background: #fff;
				border: 5px solid $borderColor;
				@include border-radius(10px);
				padding: 3% 10%;
				width: 70%;
				position: relative;
				margin: 2.5em 5%;

				.avatar {
					position: absolute;
					left: -9%;
					top: 12%;
					max-width: 20%;
				}

				h3 {
					margin: 0;
					@include single-text-shadow;
					font-weight: normal;

				}
				.info {
					margin: 0.5em 0 1em 0;
					text-transform: uppercase;
					font-size: 0.9em;
					color: #c8c8c8;
				}
			}

			.pages {
				margin: 1em 0;

				span {
					padding: 0.5em 0.7em;
					background: #cbcbcb;
					margin: 0 0.3em;
					position: relative;
					a {
						color: #646464;
						text-decoration: none;

						font-size: 1em;
						@include single-text-shadow;
					}
					a:hover {
						text-decoration: underline;
					}
				}

				span.current {
					background: #fff;
				}
			}

			aside {
				margin: 0 5%;
				text-align: left;
				width: 90%;
				h2 {
					width: 100%;
					position: relative;
					text-align: center;
					color: $sectionHeading;
					@include single-text-shadow;
					font-weight: normal;
					margin: 3em 0;
				}

				 h2:before {
				    content: "";
				    display: block;
				    border-top: solid 1px #d2d2d2;
				    width: 100%;
				    height: 1px;
				    position: absolute;
				    top: 50%;
				    z-index: 1;
				  }

				 h2 span {
				    background: url('../img/background.jpg') repeat;;
				    padding: 0 20px;
				    position: relative;
				    z-index: 5;
				  }

				  .addMessage {
				  	@include box-shadow(inset 0 1px 5px rgba(0,0,0,.75));
				  	background: #494b51;
				  	border: 0;
				  	padding: 3%;
				  }

				  #MessageIndexForm {
				  	padding: 3% 0;

				  	.input {
				  		margin: 1.5em 0;

				  		label {
				  			margin-left: 3%;
					  		width: 15%;
					  		float: left;
					  		color: #fff;
					  		padding:1% 0;
					  	}

					  	input.text, textarea {
					  		@include border-radius(5px);
					  		width: 45%;
					  		outline: 0;
					  		padding: 0.5% 2%;
					  		border: none;
					  		border-top: 2px solid #262629;
					  	}

					  	.error-message {
					  		margin-top: 0.3em;
					  		float: right;
					  		margin-right: 7%;
					  		background: url('../img/formError.png') no-repeat;
					  		width: 20%;
					  		text-align: right;
					  		padding: 0.7em 2% 0.7em 0;
					  		color: #fff;
					  		font-weight: bold;
					  	}

				  	}

				  	.submit {
				  		text-align: right;
				  		margin-right: 32%;

				  		input {
				  			cursor: pointer;
				  			background: #ececee;
				  			border: none;
				  			outline: none;
				  			padding: 1em 3em;
				  			@include border-radius(25px);
				  			font-size: 1.3em;
				  			color: #606061;
				  			border-bottom: 2px solid #262629;
				  		}
				  	}

				}

			}
		}

		#busy-indicator {
			display:none;
		}

	}
}